
.icon-icon_cycle_diagram_1:before { content: '\e800'; } /* '' */
.icon-icon_line_graphic_1:before { content: '\e801'; } /* '' */
.icon-icon_settings_1:before { content: '\e802'; } /* '' */
.icon-icon_settings_2:before { content: '\e803'; } /* '' */
.icon-icon_economy_1:before { content: '\e804'; } /* '' */
.icon-icon_new_clients_1:before { content: '\e805'; } /* '' */
.icon-icon_increase_in_income_1:before { content: '\e806'; } /* '' */
.icon-icon_increasing_loyalty_1:before { content: '\e807'; } /* '' */
