*
{	
	font-size: 12px;
	color: #000000;
	font-family: 'Inter', Verdana;
}

a {
	color: #943368;
}

body {
	font-family: 'Inter', Verdana;
	font-size: 12px;	
	margin: 0;
	padding: 0;
	width: 100%;
}

form {
	margin: 0;
	padding: 0;
}

.main_holder {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 375px;
}

.work_area_container {
	margin: 0 auto;
	padding: 0;
	min-width: 375px;
	max-width: 1024px;
}

.header_area_1 {
	width: 100%;
	height: 672px;
	background: #cbecff;
	padding: 0 60px;
	min-width: 375px;
}

.header_area_select_lang_container_1 {
	margin: 20px 0 0 0;
	width: 20%;
	float: right;
}

.lang_selector_1 {
	float: right;
	width: 17px;
	margin: 0 0 0 80px;
	padding: 42px 0 0 56px;
}

.lang_selector_2 {
	padding: 42px 0 0 12px;
	margin: 0 0 0 14px;
}

.lang_selector_1 a {
	color: #29374E;
	text-decoration: none;
	font-size: 14px;
}

.lang_selector_1 a.lang_selected {
	background: #ffffff;
	border-radius: 12px;
	padding: 5px;
	color: #0962E8;
}

.header_space {
	width: 100%;
	height: 63px;
}

.header_space_2 {
	width: 100%;
	height: 120px;
	clear: both;
}

.header_space_3 {
	width: 100%;
	height: 50px;
	clear: both;
}

.header_space_4 {
	width: 100%;
	height: 124px;
	clear: both;
}

.hand_with_phone_bg {
	background-image: url("../images/exclude_1.svg");
	width: 608px;
	height: 566px;
	background-repeat: no-repeat;	
}

.hand_with_phone_ellipse {
	background-image: url("../images/ellipse_1.svg");
	width: 620px;
	height: 566px;
	background-position: 50px 0;
	background-repeat: no-repeat;
	margin: 0 0 0 460px;
	padding: 0;
}

.hand_with_phone {
	background-image: url("../images/hand.png");
	width: 717px;
	height: 680px;	
	background-size: cover;
	background-position: 42px -55px;
	background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
	.hand_with_phone {
		background-image: url("../images/2x/hand.png");
	}
}

.phone_picture {
	background-image: url("../images/iphone_12.png");
	width: 189px;
	height: 380px;	
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0 0 0 169px;
	position: relative;
	top: 57px;
}

@media (min-resolution: 2dppx) {
	.phone_picture {
		background-image: url("../images/2x/iphone_12.png");
	}
}

.header_slogan_1 {
	float: left;
	width: 600px;
	font-size: 64px;
	line-height: 83px;
	font-weight: 700;
	padding: 97px 0 0 0;
	margin: 0 0 0 0;
	letter-spacing: 0.006em;
	color: #29374E;	
}

.header_slogan_1 span.header_slogan_1_text {
	font-size: 64px;
	line-height: 83px;
	font-weight: 700;
	padding: 2px 10px 0 0;
	letter-spacing: 0.006em;
	color: #29374E;
	text-shadow:
    -1px -1px 0 #29374E,
    1px -1px 0 #29374E,
    -1px 1px 0 #29374E,
    1px 1px 0 #29374E,  
    -1px 0 0 #29374E,
    1px 0 0 #29374E,
    0 1px 0 #29374E,
    0 -1px 0 #29374E;
}

.header_slogan_1 span.header_slogan_2_text {
	font-size: 64px;
	line-height: 83px;
	font-weight: 700;
	color: #0962E8;
	background: #ffffff;
	border-radius: 20px;
	padding: 2px 18px;
	letter-spacing: 0.006em;
	text-shadow:
    -1px -1px 0 #0962E8,
    1px -1px 0 #0962E8,
    -1px 1px 0 #0962E8,
    1px 1px 0 #0962E8,  
    -1px 0 0 #0962E8,
    1px 0 0 #0962E8,
    0 1px 0 #0962E8,
    0 -1px 0 #0962E8;	
}

.header_slogan_2 {
	font-size: 22px;
	line-height: 28.6px;
	font-weight: 400;
	width: 384px;
	padding: 10px 0 0 0;
}

.order_demo_button {
	border-radius: 12px;
	background: #0962E8;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	padding: 12px 14px;
	color: #ffffff;
	width: 170px;
	text-align: center;
	margin: 40px 0 0 0;
	cursor: pointer;
}

.features_1 {
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.features_1_holder {
	width: 970px;
	margin: 0 0 0 12px;
	padding: 0;
}

.feature_1 {
	background: #ffffff;
	border-radius: 20px;
	width: 20%;
	float: right;	
	padding: 14px 11px;
	margin: 0 10px;
	box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.05);
	height: 120px;
}

:first-child.feature_1 {
	/* margin: 0 10px 0 0; */
}

.feature_1_desc {
	float: left;
	width: 80%;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.feature_1_icon {
	float: right;
	width: 20%;
}

.icon_color_1 {
	color: #0962e8;
	font-size: 24px;
	/* font-weight: 900; */
	background: #eff9ff;
	border-radius: 24px;
	padding: 4px;
}

.key_features_title_1 {	
	clear: both;
	color: #29374E;
	font-size: 38px;
	text-align: center;
	font-family: 'Euclid Circular A', Verdana;
	width: 500px;
	margin: 0 auto;
	font-weight: 500;
	line-height: 48px;
}

.key_features_title_1 span {
	color: #0962E8;
	font-size: 38px;
	text-align: center;
	font-family: 'Euclid Circular A', Verdana;
	font-weight: 500;
}

.key_features_2 {
	width: 100%;
	clear: both;	
}

.key_features_2_holder {
	width: 995px;
	margin: 0 auto;
}

.key_feature_2 {
	background: #E9F6FF;
	border-radius: 30px;
	color: #000000;	
	width: 39%;
	float: left;
	padding: 44px 52px 0 24px;
	margin: 0 10px;
}

.key_feature_2_desc_holder {
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

.key_feature_2_desc_holder a {
	margin: 0;
	padding: 0;
}

.key_feature_2_desc_1 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
}

.key_feature_2_desc_2 {
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
}

.key_feature_2_picture {
	background-image: url("../images/strategies.png");	 
	width: 250px;
	height: 295px;
	background-size: cover;
	background-position: 0 -25px;
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0;
}

@media (min-resolution: 2dppx) {
	.key_feature_2_picture {
		 background-image: url("../images/2x/strategies.png");
	}
}

.key_feature_2_picture_2 {
	background-image: url("../images/risk_assessment.png");	 
	width: 250px;
	height: 295px;
	background-size: cover;
	background-position: 0 -25px;
	background-repeat: no-repeat;
	margin: 0 0 0 0;
	padding: 0;
}

@media (min-resolution: 2dppx) {
	.key_feature_2_picture_2 {
		 background-image: url("../images/2x/risk_assessment.png");
	}
}

.features_desc_3 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.key_features_title_2 {	
	clear: both;
	color: #29374E;
	font-size: 38px;
	text-align: left;
	font-family: 'Euclid Circular A', Verdana;
	width: 500px;
	margin: 0;
	font-weight: 500;
	line-height: 48px;
}

.key_features_title_2 span {
	color: #0962E8;
	font-size: 38px;
	font-family: 'Euclid Circular A', Verdana;
	font-weight: 500;
}

.features_desc_3_element {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #1E2837;
	padding: 25px 0 0 0;
}

.key_feature_3 {
	color: #000000;	
	width: 39%;
	float: left;
	padding: 44px 52px 0 24px;
	margin: 0 10px;
}

.key_feature_3_2 {
	color: #000000;	
	width: 42%;
	float: left;
	padding: 44px 52px 0 24px;
	margin: 0 10px;
}

.key_feature_3_3 {
	color: #000000;	
	width: 39%;
	float: left;
	padding: 44px 52px 0 24px;
	margin: 0 10px;
}

.order_demo_button_2 {
	border-radius: 12px;
	background: #0962E8;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	padding: 12px 14px;
	color: #ffffff;
	width: 170px;
	text-align: center;
	margin: 40px 0 0 0;
	cursor: pointer;
}

.icon_color_2 {
	color: #0962e8;
	font-size: 40px;	
	background: #eff9ff;
	border-radius: 24px;
	padding: 4px;
	/* font-weight: 400; */
}

.key_feature_4 {
	color: #000000;	
	width: 50%;
	float: left;
	padding: 15px 0 66px 0;
	margin: 0;
}

@media (min-width: 601px) {
	.hand_with_phone_ellipse {
		margin: 0 0 0 395px;		
	}
	
	#header_slogan_1_desktop_1 {
		display: block;
	}
	
	#header_slogan_1_mobile_1 {
		display: none;
	}
	
	#features_1_holder_desktop {
		display: block;
	}
	
	#features_1_holder_mobile {
		display: none;
	}
	
	#key_features_2_holder_desktop {
		display: block;
	}
	
	#key_features_2_holder_mobile {
		display: none;
	}	
}

@media (min-width: 600px) and (max-width: 998px) {
	
	.header_area_1 {
		width: 108%;
		min-width: 945px;
	}
	
	.lang_selector_1 {		
		padding-left: 0px;
		padding-right: 20px;
		margin: 0;
	}
	
	.key_feature_3_3 {
		width: 100%;
	}
	
	.key_feature_4 {
		width: 40%;
		box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.05);
		margin: 7px 10px;
		border-radius: 20px;
		padding: 15px 0 40px 0;
		height: 120px;
	}
}

@media (max-width: 600px) {
	.hand_with_phone_ellipse {
		margin: 0 0 0 -50px;
		float: left;
		width: 110%;
	}
	
	.hand_with_phone_bg {
		width: 100%;
	}
	
	.hand_with_phone {
		width: 100%;
	}
	
	.phone_picture {
		width: 37%;
	}
	
	.header_slogan_1 {
		float: left;
	}
	
	.header_area_1 {
		width: 108%;
		padding: 0;
		height: 1360px;
	}
	
	.header_area_select_lang_container_1 {
		margin: 0;
		width: 100%;
	}
	
	.lang_selector_2 {
		padding: 42px 20px 0 12px;
	}

	#header_slogan_1_desktop_1 {
		display: none;
	}
	
	#header_slogan_1_mobile_1 {
		display: block;
		margin: 0 0 20px 18px;
	}
	
	#features_1_holder_desktop {
		display: none;
	}
	
	#features_1_holder_mobile {
		display: block;
	}
	
	.order_demo_button {
		width: 77%;
	}
	
	.features_1_holder {
		width: 512px;
		float: left;
		margin: 0 auto 20px auto;
	}
	
	.feature_1 {
		width: 41%;
	}
	
	.feature_1_icon {
		float: none;
		margin: -20px 0 12px 0;
	}
	
	.feature_1_desc {
		float: none;
		margin: 0 auto;
	}
	
	.key_features_2_holder {
		width: 90%;
	}
	
	.key_feature_2 {
		width: 90%;
		margin: 0 auto 16px 0;
	}
	
	#key_features_2_holder_desktop {
		display: none;
	}
	
	#key_features_2_holder_mobile {
		display: block;
	}
	
	.key_feature_3_2 {
		width: 95%;
	}
	
	.order_demo_button_2 {
		width: 84%;
	}
	
	.key_feature_3_3 {
		width: 100%;
	}
	
	.key_feature_4 {
		width: 40%;
		box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.05);
		margin: 7px 10px;
		border-radius: 20px;
		padding: 15px 0 40px 0;
		height: 120px;
	}
}